<!DOCTYPE html>
<html>
<head>
  <title>Storyzilla</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to 'All Stories', stories_path() %></li>
      <li><%= link_to 'Create Story', new_story_path(@story) %></li>
      <li><%= link_to 'Profile', user_path(current_user) %></li>
    </ul>
  </nav>

  <% flash.each do |type, msg| %>
    <div class="<%= type %>">
      <p><%= msg %></p>
    </div>
  <% end %>

<%= yield %>

  <pre>
    <%= session[:user_id].inspect %>
  </pre>

</body>
</html>
